@import "config";

//Menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;
}

.btn-line {
  width: 20px;
  height: 3px;
  margin-bottom: 5px;
  background: white;
  border-radius: 10%;
  @include easeOut;
}
