@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  z-index: 2;
  color: white;
  text-decoration: none;
  &:hover {
    @include easeOut();
    color: $secondary-color;
  }
  &:visited {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

//  Headings

h1,
h2,
h3 {
  z-index: 1;
  margin: 0;
  font-weight: 400;

  &.name-heading {
    font-size: 4rem;
  }

  &.description-heading {
    padding: 0.8% 6.5%;
    background: rgba(lighten($primary-color, 5), 0.03npm);
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.secondary-text {
  color: $secondary-color;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
  height: 100%;

  .icons-container {
    .icons-list {
      display: flex;
      flex-direction: row;
      padding-left: 12vw;
      gap: 1rem;
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}
